<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">CPF</h1>
</div>
<p>
    The CPF number (Cadastro de Pessoas Físicas, Portuguese for "Natural Persons Register") is the Brazilian individual taxpayer registry identification. This number is attributed by the Brazilian Federal Revenue to Brazilians and resident aliens who, directly or indirectly, pay taxes in Brazil.
</p>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h4">CPF Generator</h2>
</div>

<div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">
              {{cpf}}
              <span class="badge bg-primary" (click)="copyCPF()">
                <svg _ngcontent-whw-c63="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clipboard"><path _ngcontent-whw-c63="" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path><path _ngcontent-whw-c63="" d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path></svg>
              </span>
        </h4>
          <p class="card-text">CPF</p>
          <div class="card-title">
            <div class="col-md-12 text-left">
                <label for="inputState" class="form-label">Choose a state:</label>
                <select id="inputState" class="form-control form-control-sm d-inline-block" aria-label="Select the State"  [(ngModel)]="selectedState" >
                    <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
                  </select>
            </div>
          </div>

          <a (click)="generateCPF()" class="btn btn-primary">Generate</a>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">
                {{cpfWithoutMask}}
                <span class="badge bg-primary" (click)="copyCPF(false)">
                    <svg _ngcontent-whw-c63="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clipboard"><path _ngcontent-whw-c63="" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path><path _ngcontent-whw-c63="" d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path></svg>
                </span>
            </h4>
            <p class="card-text">CPF without mask</p>
            <div class="card-title">
                <div class="col-md-12 text-left">
                    <label for="inputState" class="form-label">Choose a state:</label>
                    <select id="inputState" class="form-control form-control-sm d-inline-block" aria-label="Select the State"  [(ngModel)]="selectedStateWithoutMask" >
                        <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
                      </select>
                </div>
              </div>
          <a (click)="generateCPFWithoutMask()" class="btn btn-primary">Generate</a>
        </div>
      </div>
    </div>
</div>

<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h4">Logic behind</h2>
</div> -->


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>